
{% extends "base.html" %}
{% load static %}
{% block body %}
   
    


    



    <div class="shape-mockup d-none d-lg-block jump" data-bottom="10%" data-left="0%"><img src="{%static 'assets/img/shape/leaves_3.png' %}" alt="shape"></div>
    <div class="shape-mockup d-none d-lg-block jump" data-top="10%" data-right="0%"><img src="{%static 'assets/img/shape/leaves_13.png' %}" alt="shape"></div>
 </div>
 <section class="price-area overflow-hidden space">
    <div class="container">
       <div class="row">
          <div class="col-xl-7 wow fadeInLeft">
             <div class="title-area mb-40 text-center text-xl-start">
                <span class="sub-title">Hair Care Price<img src="{%static 'assets/img/theme-img/title_right.svg' %}" alt=""></span>
                <h2 class="sec-title">Our Offers For The Best Prices</h2>
             </div>
             <div class="nav nav-tabs pricing-tabs" id="nav-tab" role="tablist"><button class="nav-link price-list active" id="nav-step1-tab" data-bs-toggle="tab" data-bs-target="#nav-step1" type="button">Women Price</button> <button class="nav-link price-list" id="nav-step2-tab" data-bs-toggle="tab" data-bs-target="#nav-step2" type="button">Men Price</button> <button class="nav-link price-list" id="nav-step3-tab" data-bs-toggle="tab" data-bs-target="#nav-step3" type="button">Kids Price</button></div>
             <div class="price-list-area">
                <div class="tab-content" id="nav-tabContent">
                   <div class="tab-pane fade active show" id="nav-step1" role="tabpanel">
                      <div class="price-box-wrapper style2">

                        {% for service in women_services %}
                        <div class="price-box">
                            <div class="price-box_wrapp">
                                <div class="price-box_content">
                                    <h4 class="box-title"><a href="#">{{ service.title }}</a></h4>
                                    <p class="price-box_desc">{{ service.description }}</p>
                                </div>
                                <span class="price-box_price">₹{{ service.price }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    
                         
                         
                      </div>
                   </div>
                   <div class="tab-pane fade" id="nav-step2" role="tabpanel">
                      <div class="price-box-wrapper style2">

                         
                        {% for service in men_services %}
                        <div class="price-box">
                            <div class="price-box_wrapp">
                                <div class="price-box_content">
                                    <h4 class="box-title"><a href="#">{{ service.title }}</a></h4>
                                    <p class="price-box_desc">{{ service.description }}</p>
                                </div>
                                <span class="price-box_price">₹{{ service.price }}</span>
                            </div>
                        </div>
                    {% endfor %}
                         
                         </div>
                      
                   </div>

                   <div class="tab-pane fade" id="nav-step3" role="tabpanel">
                      <div class="price-box-wrapper style2">

                        
                        {% for service in kids_services %}
                        <div class="price-box">
                            <div class="price-box_wrapp">
                                <div class="price-box_content">
                                    <h4 class="box-title"><a href="#">{{ service.title }}</a></h4>
                                    <p class="price-box_desc">{{ service.description }}</p>
                                </div>
                                <span class="price-box_price">₹{{ service.price }}</span>
                            </div>
                        </div>
                    {% endfor %}
                         
                      </div>
                   </div>
                </div>
             </div>
          </div>
          
       </div>
    </div>
    <div class="shape-mockup jump" data-top="0%" data-right="0%"><img src="{%static 'assets/img/shape/flower_1_11.png' %}" alt="shape"></div>
 </section>
 

 {% endblock %}